<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Page</title>
</head>
<body bgcolor=#FFCEAF>
<font color = #678AB4 face="華康竹風體W4" size = '4'><b>
<h1>☀信用卡推薦小幫手</h1>
❤此為您的命定卡片：<h1>{{ card }} </h1>
<img src="{{image}}"width="250" height="150">
<br>
<I>～以下為其相關資訊～</I>
<br>
<em>年收限制</em>:NT${{limit}}
<br>
<em>年費</em>:NT${{annual}}
<br>
<em>國內現金回饋</em>:{{cash}}%
<br>
<em>國內消費哩程</em>:NT${{air}}/哩
<br>
<em>紅利折抵金</em>:NT${{bonus}}/千點

</body>
</html>


