<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Page</title>
</head>
<body bgcolor=#FFCEAF>
<font color = #678AB4 face="華康竹風體W4" size = '4'><b>
    <form method='post' action={{ url_for('p') }}> 
	<h1>☀信用卡推薦小幫手</h1>
        <p>
	<label> 請輸入花費比重(%)：(total:100%) </label>
    </p>
	<p>
	<label>現金回饋</label> <input type='text' name='cash_p' />
    </p>
	<p>
	<label>哩程回饋</label> <input type='text' name='airline_p' />
    </p>
	<p>
	<label>紅利回饋</label> <input type='text' name='reward_p' />
    </p>
        <p>
        <button type='submit' style= "border:2px #678AB4 solid; background-color:#F7E8C0;color:#678AB4;">Submit</button>
    </p>    
    </form>
</body>
</html>